interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.isc.ac.uk/cgi-bin/web-db-run?out_format=QuakeML&request=COMPREHENSIVE&searchshape=GLOBAL&start_year=2010&start_month=2&start_day=26&start_time=00%3A00%3A00&end_year=2010&end_month=2&end_day=28&end_time=23%3A59%3A59&include_magnitudes=on&min_mag=8.5&req_mag_type=MW&req_mag_agcy=GCMT
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<quakeml xmlns=\"http://quakeml.org/xmlns/quakeml/1.2\">\n
        \ <eventParameters publicID=\"smi:ISC/bulletin\">\n    <creationInfo>\n      <agencyID>ISC</agencyID>\n
        \     <creationTime>2022-09-23T11:49:31</creationTime>\n    </creationInfo>\n
        \   <description>ISC Bulletin</description>\n    <event publicID=\"smi:ISC/evid=14340585\">\n
        \     <preferredOriginID>smi:ISC/origid=600198269</preferredOriginID>\n      <description>\n
        \       <text>Near coast of central Chile</text>\n        <type>Flinn-Engdahl
        region</type>\n      </description>\n      <type>earthquake</type>\n      <typeCertainty>suspected</typeCertainty>\n
        \     <origin publicID=\"smi:ISC/origid=600198269\">\n        <time>\n          <value>2010-02-27T06:34:12.60Z</value>\n
        \         <uncertainty>0.42</uncertainty>\n        </time>\n        <latitude>\n
        \         <value>-36.2714</value>\n        </latitude>\n        <longitude>\n
        \         <value>-72.9113</value>\n        </longitude>\n        <depth>\n
        \         <value>22882.0</value>\n        </depth>\n        <quality>\n          <usedPhaseCount>2328</usedPhaseCount>\n
        \         <associatedStationCount>2404</associatedStationCount>\n          <standardError>2.9527</standardError>\n
        \         <azimuthalGap>10.193</azimuthalGap>\n          <minimumDistance>0.593</minimumDistance>\n
        \         <maximumDistance>177.369</maximumDistance>\n        </quality>\n
        \       <creationInfo>\n          <author>ISC</author>\n        </creationInfo>\n
        \       <originUncertainty>\n          <preferredDescription>uncertainty ellipse</preferredDescription>\n
        \         <minHorizontalUncertainty>3595.69</minHorizontalUncertainty>\n          <maxHorizontalUncertainty>5117.98</maxHorizontalUncertainty>\n
        \         <azimuthMaxHorizontalUncertainty>110.8</azimuthMaxHorizontalUncertainty>\n
        \       </originUncertainty>\n      </origin>\n      <origin publicID=\"smi:ISC/origid=16659961\">\n
        \       <time>\n          <value>2010-02-27T06:34:08.04Z</value>\n          <uncertainty>0.32</uncertainty>\n
        \       </time>\n        <latitude>\n          <value>-36.1785</value>\n        </latitude>\n
        \       <longitude>\n          <value>-72.8360</value>\n        </longitude>\n
        \       <depth>\n          <value>0.0</value>\n        </depth>\n        <depthType>operator
        assigned</depthType>\n        <quality>\n          <usedPhaseCount>65</usedPhaseCount>\n
        \         <standardError>1.0700</standardError>\n          <azimuthalGap>37.000</azimuthalGap>\n
        \         <minimumDistance>4.890</minimumDistance>\n          <maximumDistance>168.340</maximumDistance>\n
        \       </quality>\n        <creationInfo>\n          <author>IDC</author>\n
        \       </creationInfo>\n        <originUncertainty>\n          <preferredDescrip[...]
