numpy
black
dateparser
docker
flake8
gitpython
h5py
matplotlib
packaging
pandas
pycsep
pytest
pytest-cov
pyyaml
requests
scipy
seaborn
sphinx
sphinx-autoapi
sphinx_design
sphinx-gallery
sphinx-rtd-theme
sphinx-toolbox
sphinx_copybutton
tables
tox
vcrpy
xmltodict