numpy
dateparser
docker
flake8
gitpython
h5py
matplotlib
mypy
pycsep
pyshp
pytest-cov
pytest
pyyaml
requests
seaborn
sphinx
sphinx-autoapi
sphinx-gallery
sphinx-rtd-theme
tables
tox
vcrpy==4.3.1
xmltodict